@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

:root{
    --primary-color: black;
    --primary-font: 'Inter', 'sans-serif';
}

img {
    width: 100%;
    height: auto;
}

.header-container {
    display: flex;
    width: 100%;

    justify-content: space-around;
    height: 8vh;
    align-items: center;
    
}

.category-container {

    width: 40%;

}

.category-container ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.category-container a {
    font-size: 0.9rem;
    text-decoration: none;
    color: var(--primary-color);
}



/*
*
*   Main Category 
* 
*
*/ 
.main-banner-container {
 
    height: 85vh;
    display: flex;
    justify-content: space-around;
}

.index-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    width: 40%;
  
}

.index-info-container h1 {
    font-size: 5rem;
   
}

.index-info-container p {
    font-size: 0.9rem;
    letter-spacing: 2px;
}

.img-info-container {

    width: 55%;
    object-fit: cover;
    
}

.skills-category-container {

    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: #554994;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.skillset-banner {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    gap: 5rem;
    align-items: center;
    font-size: 3rem;
    color: white;
    margin-top: 20px;
  
}




.skills-circle-container {
   
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
   
   
}

.footer {
    width: 100%;
    height: 50vh;
}

.skills-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: 1rem;
    color: white;
    

}

.show-icon {
    display: none;
}

.primary-color {
    color: #554994;   
}


.button-icon {
    background-color: black;
    color: white;
    border-radius: 10px;
}




@media (max-width: 850px){
    .show-icon {
        display: block;
    }
    .category-container ul{
        display: none;
    }
    .category-container {
        display: flex;
        justify-content: flex-end;
    }

    .main-banner-container {
        flex-direction: column;
        height: 60vh;
    }

    .index-info-container {
        width: 80%;
        height: 100%;
        justify-content: flex-start;
        margin-top: 5rem;
        margin-left: 20px;
    }


    .index-info-container h1 {
        font-size: 30px;
    }

    .index-info-container p {
        font-size: 1rem;
    }

    .skills-category-container {
  
        height: 60vh;
        border-top-left-radius: 180px;
        border-top-right-radius: 180px;
        
     
    }

    .skills-category-container h1 {
        font-size: 40px;
    }
    .skills-circle {
        font-size: 0.9rem;
        width: 140px;
        height: 140px;
    }

    .button-icon {
        border: none;
        display: block;
        padding: 5px;
        background:none;

    }

    .t {
        font-weight: bold;
        color: #554994;
    }

    a {
        text-decoration: none;
        float: right;
    }

    .vid-container {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    .pi {
        font-style: italic;
        text-align: center;
    }
    

    
    
}
